@charset "UTF-8";
/*　　　　　　　　　　　　　　　　　　　　　====== main_title*/
.main_title_area {
  height: 260px;
  background: url(../images/header.png) no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: -90px; }

.main_title_area .main_title_text_area {
  width: 100%;
  position: absolute;
  height: 80px;
  margin-top: 100px;
  background-color: rgba(255, 252, 253, 0.7); }

.main_title_area .main_title_text_area img {
  padding: 10px 0;
  margin-top: 10px; }

/*　　　　　　　　　　　　　　　　　　　　　　　　　=====company*/
.company_area {
  width: 960px;
  margin: 0 auto; }

.info_content_area,
.history_area {
  background: url(../images/company/c_bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 400px; }

.info_content_area img {
  display: inline-block;
  margin-top: 20px; }
.info_content_area table {
  display: inline-block;
  vertical-align: top;
  margin-top: 63px;
  text-align: left;
  color: #88787a;
  font-size: 14px; }

.info_content_area table tr.history {
  margin-top: 20px; }

.info_content_area p {
  width: 62%;
  margin: 0 auto;
  padding-top: 50px; }

.history_area table {
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
  text-align: left; }
  .history_area table td {
    border-bottom: dotted 2px #f99eae;
    padding: 20px 5px 4px;
    font-size: 20px;
    text-align: center;
    color: #88787a;
    letter-spacing: 0.07em;
    text-align: left; }
