@charset "UTF-8";
/*　　　　　　　　　　　　　　　　　　　　　====== main_title*/
.main_title_area {
  height: 260px;
  background: url(../images/shops/sh_header.png) no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: -90px; }

.main_title_area .main_title_text_area {
  width: 100%;
  position: absolute;
  height: 80px;
  margin-top: 100px;
  background-color: rgba(255, 252, 253, 0.7); }

.main_title_area .main_title_text_area img {
  padding: 10px 0;
  margin-top: 10px; }

/*　　　　　　　　　　　　　　　　　　　　　====== shop_info*/
.shops_bg_area {
  margin: 0 auto;
  padding-bottom: 190px; }

.shops_area {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px; }
  .shops_area a img {
    width: 430px; }

.shops_blog_area,
.shops_fb_area {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }

img.base_image {
  margin-right: 20px; }

.shops_campaign_area {
  text-align: center; }
  .shops_campaign_area img {
    width: 810px;
    border: solid 3px #423d3c;
    border-radius: 10px; }

footer {
  margin-top: -100px; }
