@charset "UTF-8";
/*　　　　　　　　　　　　　　　　　　　　　====== main_title*/
.main_title_area {
  height: 260px;
  background: url(../images/silky_skin/s_header.png) no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: -90px; }

.main_title_area .main_title_text_area {
  width: 100%;
  position: absolute;
  height: 80px;
  margin-top: 100px;
  background-color: rgba(255, 252, 253, 0.7); }

.main_title_area .main_title_text_area img {
  padding: 10px 0;
  margin-top: 10px; }

/*　　　　　　　　　　　　　　　　　　     facial*/
/*　　　　　　　　　　　　　　　　　     　eyerash*/
.s_p_title_area,
.s_a_p_title_area h1 {
  text-align: center; }
  .s_p_title_area img,
  .s_a_p_title_area h1 img {
    padding: 30px;
    background: url(../images/index/circle.png) no-repeat; }

.s_a_p_title_area h1 {
  margin-top: 60px; }

/*　　　　　　　　　　　　     　　　　　　silky_skin_price*/
.silky_price_area,
.silky_all_plan_area {
  background-color: #fff;
  padding: 30px 0 40px; }

.s_p_image_area {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 40px 0; }
  .s_p_image_area img {
    width: 400px; }

.silky_price_area table,
.silky_all_plan_area table {
  width: 960px;
  margin: 0 auto; }
  .silky_price_area table td,
  .silky_all_plan_area table td {
    border-bottom: dotted 2px #f99eae;
    padding: 20px 0;
    font-size: 23px;
    text-align: center;
    color: #f99eae;
    letter-spacing: 0.07em; }
  .silky_price_area table td span,
  .silky_all_plan_area table td span {
    font-size: 20px; }

tr.price_title td,
.silky_price_area table td:first-child,
.silky_price_all_area table td:first-child {
  color: #88787a !important; }

/*　　　　　　　　　　　　     　　　　　　all_plan_price*/
.silky_all_plan_area {
  margin-top: 40px; }

.s_a_p_image_area {
  text-align: center;
  margin-top: 20px; }
  .s_a_p_image_area img {
    width: 810px;
    border: solid 3px #423d3c;
    border-radius: 10px; }
