.company_area {
	margin-top: 60px;
	color: #796660;
	h1 {
		background-color: #ecdefa;
		padding: 20px 20px 14px;
		margin: 0;
		text-align: center;
	}
}
.info_image_area {
	width: 100%;
	text-align: center;
	background: #fff;
	margin-bottom: 20px;
}
p,table {
	padding: 10px;
}
tr {
	width: 100%;
}
td:first-child {
	width: 30%;
}
