section.faqs {
	margin-top: 60px;
	h1 {
		background-color: #ecdefa;
		padding: 20px 20px 14px;
		margin: 0;
		text-align: center;
		img {
	width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
		}
	}
}

section#faqs_silky,
section#faqs_esthetic,
section#faqs_price,
section.faqs {
p {
		margin: 0;
		padding: 20px;
		color: #796660;
		background-color: #fff;
	}
}
section#faqs_silky,
section#faqs_esthetic,
section#faqs_price {
	h2 {
		background-color: #ecdefa;
		padding: 20px 20px 14px;
		margin: 0;
		color: #fff;
		font-size: 18px;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: -6px;
	}
}

section#faqs_silky,
section#faqs_esthetic,
section#faqs_price {
	ul {
		background-color: #fff;
		padding: 20px 20px 40px 20px;
		color: #796660;
	}
	ul li:first-child {
		margin-bottom: 10px;
		font-weight: bold;
	}
}
