doctype html
html lang="ja"
	head
		meta charset="utf-8"
		title 心斎橋・難波・渋谷の脱毛サロン|blanc neige　～ブランネージュ～
		meta name="Description" content="心斎橋・難波・渋谷の脱毛サロン blanc neige ブランネージュのHPです。脱毛メニューのキャンペーン情報やお店の情報を公開しています。"
		meta name="Keywords" content="大阪 脱毛, 大阪 エステ, 難波 脱毛, 心斎橋 脱毛, 渋谷 脱毛, 東京 脱毛, 難波 エステ, 心斎橋 エステ, 渋谷 エステ, 東京 エステ, 脱毛サロン, エステ,ブランネージュ"
		link rel="stylesheet" media="all" type="text/css" href="css/stylesheet.css"
		link rel="stylesheet" media="all" type="text/css" href="css/common.css"
		link rel="stylesheet" media="all" type="text/css" href="css/jquery.bxslider.css"
		script type="text/javascript" src="js/jquery-2.1.1.min.js"
		script type="text/javascript" src="js/script_bxslider.js"
		script type="text/javascript" src="js/jquery.bxslider.min.js"
		script type="text/javascript" src="js/scroll.js"
		script type="text/javascript" src="js/page_scroll.js"
	body
		header#top
			.h_logo_area
				img src="images/index/logo.png" alt="実力派脱毛サロンならブランネージュ"
			.h_inquiry_area
				a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
					.h_mail
						img src="images/index/header_form.png" alt="ご予約はこちら"
				.h_time
					p.time_title
						| 受付時間　( 水曜定休 )
					p
						| 月火木金 11:00-21:00 ( 最終受付20:30 )
						br
						| 土日祝 11:00-20:00 ( 最終受付19:30 )
						
				.h_tel
					img.tel_title src="images/index/h_tel.png" alt="お電話のご予約"
					.h_tel_contents
						img src="images/index/h_tel_number.png" alt="電話番号"
			nav
				ul
					li
						| <a href="http://www.blancneige-salon.com/about">脱毛について</a>
					li
						| <a href="http://www.blancneige-salon.com/silky_skin">脱毛</a>
					li
						| <a href="http://www.blancneige-salon.com/esthetic">エステ＆<br>まつげエクステ</a>
					li
						| <a href="http://www.blancneige-salon.com/faqs">よくあるご質問</a>
					li
						| <a href="http://www.blancneige-salon.com/shops">店舗情報</a>
		section.carousel
			ul class="bxslider"
				li
					img src="images/top.png"
				li
					img src="images/top02.png"
				li
					img src="images/top03.png"
		section.campaign
			a href="http://www.blancneige-salon.com/campaign/index.html?id=camone"
				img.c_one src="images/index/cam-01.png" alt="フェイシャルキャンペーン"
			a href="http://www.blancneige-salon.com/campaign/index.html?id=camtwo"
				img.c_two src="images/index/cam-02.png" alt="両腕両足キャンペーン"
			a href="http://www.blancneige-salon.com/campaign/index.html?id=camthree"
				img.c_three src="images/index/cam-03.png" alt="全身脱毛キャンペーン"
			a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
				.form_button
					img src="images/index/form_button.png" alt="ご予約はコチラ！"
		section.news
			.news_content
				.news_title
				 img src="images/index/n-title.png" alt="ニュース"
				ul
					li
						| 2014年12月25日　寒い季節はむだ毛の処理を怠りがち
					li
						| 2014年12月20日　毛が生える仕組みでわかる<脱毛サロンに通う理由>
					li
						| 2014年12月17日　脱毛の常識エステとクリニックの違い
		section.about
			.about_content_area
				h1
					| <img src="images/index/About.png" alt="ブランネージュの脱毛について">
				.i_reason_area
					a href="about/index.html?id=a_reason"
						h2
							| ハイクオリティなのに<br>リーズナブルな理由
						img src="images/index/a-reason.png" height="264" width="264"
				.i_silky_area
					a href="about/index.html?id=a_silky"
						h2
							| 美肌を追求した<br>シルキースキン脱毛
						img src="images/index/a-silky.png" height="264" width="264"
				.i_step_area
					a href="about/index.html?id=a_step"
						h2
							| ブランネージュの<br>脱毛の流れ
						img src="images/index/a-step.png" height="264" width="264"
		section.silky
			.silky_content_area
				h1
					| <img src="images/index/Silky.png" height="96" width="922" alt="脱毛プラン・料金について">
				.i_once_area
					a href="silky_skin/index.html?id=s_once"
						h2
							| 単発脱毛！<br>都度払いプラン
						img src="images/index/s-once.png" height="264" width="264"
						p
							| 都合に合わせたお支払いで<br>通いやすさNo.1のプラン

				.i_year_area
					a href="silky_skin/index.html?id=s_year"
						h2
							| 1年6回　又は<br>2年12回プラン
						img src="images/index/s-year.png" height="264" width="264"
						p
							| 他サロンからの乗り換えを<br>考えている方にオススメ！
				.i_all_area
					a href="silky_skin/index.html?id=s_all"
						h2
							| まとめてお得！<br>全身脱毛プラン
						img src="images/index/s-all.png" height="264" width="264"
						p
							| お得なキャンペーンを実施中！<br>圧倒的な低価格で美肌ゲット

		section.esthetic
			.esthetic_content_area
				h1
					| <img src="images/index/Silky.png" height="96" width="922" alt="エステ＆まつげエクステメニュー・料金について">
				.i_facial_area
					a href="esthetic/index.html?id=facial"
						h2
							| フェイシャルエステ
						img src="images/index/e-facial.png" height="264" width="264"
						p
							| お肌に極上のご褒美！<br>乾燥・肌荒れ・赤みなどの改善にも◎
				.i_eyelash_area
					a href="esthetic/index.html?id=eyerash"
						h2
							| まつげエクステ
						img src="images/index/e-eyelash.png" height="264" width="264"
						p
							| 目にもまつげにも優しい<br>最高級のエクステとグルーを使用
		section.voice
			.voice_content_area
				h1
					| <img src="images/index/Voice.png" height="96" width="922" alt="お客様の声">
			.i_voice_area
				.voice_image_area
					img src="images/index/voice_parson.png" alt="リピーター様の写真"
				.voice_comment_area
					p
						| これまでに全身脱毛・フェイシャル脱毛をしていただきました。
						br
						| スタッフの皆さんはとても丁寧な対応をしてくださって、施術中もとても快適に過ごすことができます！
						| お店の雰囲気はとてもアットホームでいつも癒されています。
						| スタッフさんとのおしゃべりが楽しくて通っているというのもあります(笑)
						br
						| このお店で綺麗になることができてよかったです。
						| いつもありがとうございます！

		section.faqs
			.faqs_content_area
				h1
					| <img src="images/index/Q&A.png" height="96" width="922" alt="よくある質問">
				.i_q_silky_area
					a href="faqs/index.html?id=f_silky"
						img src="images/index/q_silky.png" alt="脱毛についてのよくある質問"
				.i_q_esthetic_area
					a href="faqs/index.html?id=f_esthetic"
						img src="images/index/q_esthetic.png" alt="エステ＆まつげエクステについてのよくある質問"
				.i_q_prise_area
					a href="faqs/index.html?id=f_price"
						img src="images/index/q_prise.png" alt="料金についてのよくある質問"
		section.shops
			.shops_content_area
				h1
					| <img src="images/index/Shops.png" height="96" width="922" alt="店舗情報">
				.i_nanba_area
					a href="shops/nanba/index.html?id=nanba"
						h2
							| なんば本店
						img src="images/index/sh-nanba.png" height="264" width="264"
					
				.i_shibuya_area
					a href="shops/shibuya/index.html?id=shibuya"
						h2
							| 渋谷店
						img src="images/index/sh-shibuya.png" height="264" width="264"
				.fb_banner_area
					a href="https://www.facebook.com/pages/%E3%83%96%E3%83%A9%E3%83%B3%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A5/349759408419234"
						img src="images/index/facebook-bar.png" alt="公式Facebookはコチラ"
		footer
			.footer_bg
				.footer_content_area
					.footer_content_one
						.f_about_area
							h2
								img src="images/index/f_about.png" alt="About"
								ul
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_reason">リーズナブルな理由</a>
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_silky">シルキースキン脱毛</a>
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_step">脱毛の流れ</a>
						.f_silky_area
							h2
								img src="images/index/f_silky.png" alt="Silky-skin"
								ul
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_once">都度払いプラン</a>
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_year">1年6回・2年12回プラン</a>
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_all">全身脱毛プラン</a>
					.footer_content_two
						.f_esthetic_area
							h2
								img src="images/index/f_esthetic.png" alt="Esthetic"
								ul
									li
										| <a href="http://www.blancneige-salon.com/esthetic/index.html?id=facial">フェイシャルエステメニュー</a>
									li
										| <a href="http://www.blancneige-salon.com/esthetic/index.html?id=eyerash">まつげエクステメニュー</a>
						.f_faqs_area
							h2
								img src="images/index/f_q_a.png" alt="QandA"
								ul
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_silky">脱毛について</a>
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_esthetic">エステ・まつげエクステについて</a>
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_price">料金について</a>
					.footer_content_three
						.f_shops_area
							h2
								img src="images/index/f_shops.png" alt="shops"
								ul
									li
										| <a href="http://www.blancneige-salon.com/shops/nanba/index.html?id=nanba">なんば本店</a>
									li
										| <a href="http://www.blancneige-salon.com/shops/shibuya/index.html?id=shibuya">渋谷店</a>
									li
										| <a href="https://www.facebook.com/pages/%E3%83%96%E3%83%A9%E3%83%B3%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A5/349759408419234">公式Facebook</a>
									li
										| <a href="http://www.blancneige-salon.com/blog/">スタッフブログ</a>
				.f_menu
					#back-top
						a href="#top"
							span
								| <img src="images/page_top_ribbon.png" alt="ページトップへ戻る">
					ul
						li
							| <a href="http://www.blancneige-salon.com/sitemap">サイトマップ</a>
						li
							| <a href="http://www.blancneige-salon.com/privacy">プライバシーポリシー</a>
						li
							| <a href="http://www.blancneige-salon.com/company">会社概要</a>	
				.f_copyright_area
					img src="images/index/copyright.png" alt="コピーライト"
