
/*　　　　　　　　　　　　　　　　　　　　　====== main_title*/
.main_title_area {
	height: 260px;
	background: url(../images/shops/sh_header.png)no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	margin-top: -90px;
}
.main_title_area .main_title_text_area {
	width: 100%;
	position: absolute;
	height: 80px;
	margin-top: 100px;
	background-color: rgba(255,252,253,0.7);
}
.main_title_area .main_title_text_area img {
	padding: 10px 0;
	margin-top: 10px;
}
/*　　　　　　　　　　　　　　　　　　　　　====== shop_info*/
.shop_nanba_area {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}
.shop_title_area,
.map_title_area {
		text-align: center;
 h1 img {
	background: url(../images/index/circle.png)no-repeat;
	margin-left: -30px;
	margin-top: 20px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 20px;
}
}
table.nanba_info {
	margin: 0 auto;
	margin-top: 20px;
	background: url(../images/shops/sh_bg.png)no-repeat;
	text-align: left;
	padding: 20px 30px;

	td {
		vertical-align: top;
		list-style: none;
		padding-bottom: 10px;
		padding-top: 15px;
		border-bottom: dotted 1px #f99eae;
	}
}

table.nanba_info tr td:first-child {
	font-weight: bold;
	padding-right: 20px;
}
/*　　　　　　　　　　　　　　　　　　　　　====== salutation*/
.nanba_salutation_area {
	min-width: 960px;
	height: 460px;
	margin: 0 auto;
	margin-top: 60px;
	background: url(../images/shops/nanba/sh_nanba_bg.png) no-repeat #fff;
	background-position-x: 47%;
	position: relative;
}
.salutation_content_area{
width: 380px;
position: absolute;
margin-left: 36%;
margin-top: 140px;
line-height: 1.3em;
 p {
	font-size: 12px;
}
}
/*　　　　　　　　　　　　　　　　　　　　　====== map*/
.map_nanba_area {
	margin-top: 60px;
}