body{
	margin: 0;
	padding: 0;
	color: #88787a;
	min-width: 960px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}
p,ul {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
}

body {
	background: url(../images/body_bg.png);
	a {
		text-decoration: none;
		color: inherit
	}
}
a img:hover {
opacity: 0.8;
}
/*                                     ---header*/
header {
min-width: 960px;
overflow: hidden;
background: url(../images/header_bg.png)no-repeat;
position: relative;z-index:9999;
background-size: 100% 130%;
height: 270px;
.h_logo_area{
float: left;
img {
margin: 20px 0 0 20px;
width: 235px;
height: 65px;
		}
	}
}
.h_time {
	display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  margin-top: 20px;
  p {
 	 line-height: 1.5em;
 	 font-size: 10px;
  }
}
p.time_title {
	font-weight: bold;
	padding: 2px 0px;
  border-radius: 6px;
  background-color: #fafafa;
}
.h_inquiry_area {
	float: right;
	margin-right: 20px;
}
.h_mail {
display: inline-block;
position: relative;	
width: 212px;
height: 30px;
background: #f99eae;
padding: 14px 30px;
border-radius: 6px;
border-bottom: solid 10px #fa6b86;
margin-top: 20px;
img {
	position: absolute;
	margin-top: 5px;
	margin-left: 16px;
	}
}

.h_tel {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 300px;
	height: 24px;
	background: #d6c9ac;
	border-radius: 25px;
	margin-top: 10px;
	margin-left: 20px;
img.tel_title {
	position: absolute;
	margin-top: 5px;
	margin-left: 112px;
}
}
.h_tel_contents img {
	margin-top: 40px;
	margin-left: 45px;
}

/*                                     ---nav*/
nav {
	clear: both;
	min-width: 960px;
	margin: 0 auto;
	text-align: center;
	width: 960px;
	margin-top: 120px; 
}
nav ul li {
	display: table-cell;
	border-left: solid 1px #f99eae;
	font-weight: bold;
	width: 195px;
	vertical-align: middle;
	height: 45px;
}
nav ul li:last-child {
	border-right: solid 1px #f99eae;
}
nav ul li:nth-child(3) {
	line-height: 1.2em;
}

/*                                     ---carousel*/

section.carousel {
	margin-top: -75px;
}

/*carousel_item {
	margin: 0 auto;
	border-radius: 10px;
	border: solid 4px #f99eae;
	height: 370px;
	width: 800px;
	margin-bottom: 30px;
	background: url(../images/index/main.jpg);
}*/

/*                                     ---campaign*/
section.campaign {
	background: #fff;
	height: 170px;
	margin: 0 auto;
	text-align: center;
}
section.campaign img {
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 10px
}
.form_button {
	background: #f99eae;
	border-radius: 4px;
	border-bottom: solid 10px #fa6b86;
	width: 530px;
	height: 80px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	img {
		margin-top: 10px;
	}
}
.form_button:hover {
	border-bottom: none;
	padding: 5px 0;
}
/*                                     ---news*/
section.news {
	margin-top: 180px;
	width: 100%;
	background: #fff;
	padding: 40px 0;
	font-size: 18px;
}
.news_content {
	height: 270px;
	width: 680px;
	border-radius: 25px;
	background: #fff5f7;
	border: solid 2px #f99eae;
	border-bottom: solid 15px #f99eae;
	margin: 0 auto;
}

.news_title img {
	margin: 30px 0 10px 40px;
}
section.news ul {
	width: 600px;
	margin-top: 0;
	padding-left: 40px;
	li {
	font-size: 16px;
	margin-bottom: 15px;
	list-style: none;
	border-bottom: solid 1px #c6b363;
	padding-bottom: 2px;
	}
}
/*                                     ---main*/
.about_content_area,
.esthetic_content_area,
.shops_content_area
 {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	clear: both;
}
.silky_content_area,
.faqs_content_area
{
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	clear: both;
}

/*                                     ---about*/
section.about {
	margin-top: 60px;
	width: 100%;
	text-align: center;
}
section.about h1 img {
	margin: 0 auto;
}
section.about h2 {
	color: #493e3a;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: 400;
	height: 80px;
	padding-left: 50px;
	padding-top: 20px;
	background: url(../images/index/circle.png)no-repeat;
}
.i_reason_area,
.i_silky_area,
.i_step_area {
	display: inline-block;
	width: 29%;
	text-align: left;
	margin-left: 30px;
	img{
	margin-top: -16px;
	width: 70%;
  height: 70%;
  margin-left: 30px;
}
}
/*                                     ---silky*/
section.silky {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	background: #fff;
	padding: 40px 0 20px 0;
}
section.silky h1 img {
	margin: 0 auto;
}
section.silky h2 {
	color: #493e3a;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: 400;
	height: 80px;
	padding-left: 50px;
padding-top: 20px;
}
.i_once_area h2,
.i_year_area h2,
.i_all_area h2 {
	background: url(../images/index/circle.png)no-repeat;
}
.i_once_area,
.i_year_area,
.i_all_area {
	display: inline-block;
	width: 29%;
	text-align: left;
	margin-left: 30px;
	img{
	margin-top: -16px;
	width: 70%;
  height: 70%;
  margin-left: 30px;
}
p {
	background: url(../images/index/ballon.png) no-repeat;
	height: 100px;
	padding-top: 33px;
	margin-left: -20px;
	width: 310px;
	text-align: center;
}
}
/*                                     ---esthetic*/
section.esthetic {
	margin-top: 60px;
	width: 100%;
	text-align: center;
}
section.esthetic h1 img {
	margin: 0 auto;
}
section.esthetic h2 {
	color: #493e3a;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: 400;
	height: 80px;
	padding-left: 70px;
	padding-top: 30px;
}

section.esthetic .i_facial_area h2 {
	background: url(../images/index/e-f-title.png)no-repeat;
}
section.esthetic .i_eyelash_area h2 {
	background: url(../images/index/e-e-title.png)no-repeat;
}

.i_eyelash_area,
.i_facial_area {
	display: inline-block;
	width: 32%;
	text-align: left;
	margin-left: 70px;
	img{
	margin-top: -40px;
	width: 70%;
  height: 70%;
  margin-left: 30px;
}
p {
	background: url(../images/index/ballon.png) no-repeat;
	height: 100px;
	padding-top: 33px;
	margin-left: -20px;
	width: 310px;
	text-align: center;
}
}
/*　　　　　　　　　　　　　　　　　　　　　　　　voice*/
section.voice {
	background: #fff;
	padding: 60px 0;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	h1 {
		margin-bottom: 20px;
	}
}
.voice_image_area{
	float: left;
img{
	width: 70%;
  height: 70%;
}
}
.voice_comment_area {
	float: left;
	p {
		width: 600px;
		text-align: left;
		margin-top: 20px;
	}
}
.i_voice_area {
	width: 960px;
	margin: 0 auto; 
}
/*                                     ---faqs*/
section.faqs {
	clear: both;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 100%;
	text-align: center;
	h1 {
		margin-bottom: 20px;
	}
	}

.i_q_prise_area,
.i_q_silky_area,
.i_q_esthetic_area {
	margin: 0 16px;
	display: inline-block;
}
/*                                     ---shops*/
section.shops {
	background: #fff;
	padding: 40px 0;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
section.shops h1 img {
	margin: 0 auto;
}
section.shops h2 {
	color: #493e3a;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: 400;
	height: 80px;
	padding-left: 70px;
	padding-top: 30px;
	background: url(../images/index/circle.png)no-repeat;
	margin-left: 30px;
}

.i_nanba_area,
.i_shibuya_area {
	display: inline-block;
	width: 32%;
	text-align: left;
	margin-left: 70px;
	img{
	margin-top: -40px;
	width: 70%;
  height: 70%;
  margin-left: 30px;
}
}
.fb_banner_area {
	margin-top: 20px;
}

footer {
	background: url(../images/index/footer_bg.png)no-repeat;
	background-size: 100% 30%;
	padding-top: 120px;
	margin: 0 auto;
	margin-top: 100px;
}
.footer_bg {
	background-color: #f99eae;
}
.footer_content_area {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 1px;
	padding-left: 15%;
}
footer ul li {
	padding-left: 10px;
	letter-spacing: 0.08em;
	list-style: none;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}
.footer_content_one,
.footer_content_two,
.footer_content_three {
	width: 30%;
	display: inline-block;
	vertical-align: top
}

.f_menu {
	background: #fff;
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.f_copyright_area {
	background: #fff;
	padding-bottom: 20px;
	text-align: center;
}
.f_menu	img {
		margin-top: -20px;
}
.f_menu ul li {
	color: #f99eae;
	display: inline-block;
	border-right: 1px solid;
	padding-right: 20px;
}
.f_menu ul li:last-child {
	border: none;
}