@charset "UTF-8";
section.esthetic {
  margin-top: 60px; }
  section.esthetic h1 {
    background-color: #ecdefa;
    padding: 20px 20px 14px;
    margin: 0;
    text-align: center; }
    section.esthetic h1 img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block; }
  section.esthetic img {
    margin-bottom: -6px;
    overflow: hidden; }

section#facial p,
section#eyelash p,
section.esthetic p {
  margin: 0;
  padding: 20px;
  color: #796660;
  background-color: #fff; }

section#facial h2,
section#eyelash h2 {
  background-color: #ecdefa;
  padding: 20px 20px 14px;
  margin: 0;
  color: #fff;
  font-size: 18px; }
section#facial img,
section#eyelash img {
  width: 100%;
  height: auto;
  margin-bottom: -6px; }

/*　　　　　　　　　　　　     　　　　　　facialprice*/
.facial_price_area {
  background-color: #fff;
  padding: 15px 0 20px; }
  .facial_price_area p {
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin: 0 auto;
    padding-top: 5px; }

.facial_price_area table,
.eyerash_price_area table,
.eyerash_remove_price_area table {
  width: 100%;
  margin: 0 auto; }
  .facial_price_area table td,
  .eyerash_price_area table td,
  .eyerash_remove_price_area table td {
    border-bottom: dotted 2px #f99eae;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: #f99eae;
    letter-spacing: 0.07em; }
  .facial_price_area table td span,
  .eyerash_price_area table td span,
  .eyerash_remove_price_area table td span {
    font-size: 10px; }

.price_title td,
.facial_price_area table td:first-child,
.eyerash_remove_price_area table td:first-child,
.eyerash_price_area table td:first-child {
  color: #88787a !important; }

/*　　　　　　　　　　　　　　　　　　　　eyerash_price*/
.eyerash_price_area,
.eyerash_remove_price_area {
  background-color: #fff;
  padding: 15px 0 20px; }

.eyerash_remove_price_area {
  margin-top: -10px;
  padding-bottom: 30px; }

.eyerash_remove_price_area table tr.price_title td:nth-child(2) {
  font-size: 12px; }

td.none_spacing {
  letter-spacing: 0 !important; }
