@charset "UTF-8";
/*　　　　　　　　　　　　　　　　main*/
.main_image_area {
  width: 100%;
  height: 206px;
  background: url(../images/sp/index/main.png) no-repeat;
  background-size: contain; }

section.main {
  margin-top: 60px; }

/*　　　　　　　　　　　　　　　　campaign*/
.campaign_image_area {
  width: 100%;
  height: 206px;
  background: url(../images/sp/index/campaign.png) no-repeat;
  background-size: contain;
  height: 110px; }

/*　　　　　　　　　　　　　　form*/
.form_button a {
  display: block;
  width: 320px;
  border-bottom: solid 10px #fa6b86;
  border-radius: 10px;
  height: 60px;
  background: url(../images/sp/index/form.png) #f99eae no-repeat;
  margin: 0 auto;
  background-position: 50% 50%; }

/*　　　　　　　　　　　　　　　　　　　　　　news*/
.news {
  overflow: hidden;
  margin-top: 20px;
  height: 200px;
  padding: 8%;
  background-color: #fffcfd; }

.news ul {
  width: 95%;
  margin-top: 10px; }
  .news ul li a {
    text-decoration: none;
    color: #796660; }
  .news ul li {
    padding: 8px 0;
    border-bottom: dotted 2px #f99eae; }

.about {
  text-align: center;
  margin-top: 20px; }
  .about img {
    width: 90%;
    margin-bottom: 10px; }

dl.accordion {
  margin: 0 auto 30px;
  padding: 10px;
  font-size: 16px;
  max-width: 100%; }

dl.accordion h4 {
  margin-top: 10px;
  margin-bottom: -20px; }

dl.accordion dd {
  display: block;
  width: 78%;
  margin: 0 auto;
  background: #fff;
  margin-top: -34px;
  padding: 20px;
  line-height: 1.5;
  display: none;
  text-align: left;
  color: #796660; }

/*　　　　　　　　　　　　　　　　　　　content*/
section.silky h2,
section.esthetic h2,
section.faqs h2,
section.shops h2,
section.support h2,
section.voice h2 {
  background-color: #ecdefa;
  width: 100%;
  font-size: 18px;
  color: #fff;
  padding: 20px 10%; }
section.silky li,
section.esthetic li,
section.faqs li,
section.shops li,
section.support li,
section.voice li {
  background-color: #fff;
  color: #796660;
  font-size: 18px;
  padding: 20px 0px 20px 10%;
  border-bottom: solid 1px #fafafa; }

section.silky li:last-child,
section.esthetic li:last-child,
section.faqs li:last-child,
section.shops li:last-child,
section.support li:last-child,
section.voice li:last-child {
  border: none; }
section.silky a,
section.esthetic a,
section.faqs a,
section.shops a,
section.support a,
section.voice a {
  text-decoration: none;
  color: #796660; }

section.silky img,
section.esthetic img,
section.faqs img,
section.shops img,
section.support img,
section.voice img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  float: right;
  margin-right: 10%; }

img.facebook {
  display: block;
  width: 320px !important;
  height: auto !important;
  float: none !important;
  clear: both !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important; }
