doctype html
html lang="ja"
	head
		meta charset="utf-8"
		title 心斎橋・難波・渋谷の脱毛サロン|blanc neige　～ブランネージュ～
		meta name="Description" content="心斎橋・難波・渋谷の脱毛サロン blanc neige ブランネージュのHPです。脱毛メニューのキャンペーン情報やお店の情報を公開しています。"
		meta name="Keywords" content="大阪 脱毛, 大阪 エステ, 難波 脱毛, 心斎橋 脱毛, 渋谷 脱毛, 東京 脱毛, 難波 エステ, 心斎橋 エステ, 渋谷 エステ, 東京 エステ, 脱毛サロン, エステ,ブランネージュ"
		link rel="stylesheet" media="all" type="text/css" href="../css/stylesheet.css"
		link rel="stylesheet" media="all" type="text/css" href="../css/common.css"
		link rel="stylesheet" media="all" type="text/css" href="../css/silky_skin.css"
		script type="text/javascript" src="../js/jquery-2.1.1.min.js"
		script type="text/javascript" src="../js/scroll.js"
		script type="text/javascript" src="../js/page_scroll.js"
	body
		header
			.h_logo_area
				a href="http://www.blancneige-salon.com/"
					img src="../images/index/logo.png" alt="実力派脱毛サロンならブランネージュ"
			.h_inquiry_area
				a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
					.h_mail
						img src="../images/index/header_form.png" alt="ご予約はこちら"
				.h_time
					p.time_title
						| 受付時間　( 水曜定休 )
					p
						| 月火木金 11:00-21:00 ( 最終受付20:30 )
						br
						| 土日祝 11:00-20:00 ( 最終受付19:30 )
						
				.h_tel
					img.tel_title src="../images/index/h_tel.png" alt="お電話のご予約"
					.h_tel_contents
						img src="../images/index/h_tel_number.png" alt="電話番号"
			nav
				ul
					li
						| <a href="http://www.blancneige-salon.com/about">脱毛について</a>
					li
						| <a href="http://www.blancneige-salon.com/silky_skin">脱毛</a>
					li
						| <a href="http://www.blancneige-salon.com/esthetic">エステ＆<br>まつげエクステ</a>
					li
						| <a href="http://www.blancneige-salon.com/faqs">よくあるご質問</a>
					li
						| <a href="http://www.blancneige-salon.com/shops">店舗情報</a>
		
		.main_title_area
			.main_title_text_area
				img src="../images/silky_skin/s_title.png" alt="脱毛プラン・料金"
		.bread_crumb
			ul
				li
					| <a href="/">トップページ</a>
					span
						| ＞
				li
					| 脱毛プラン・料金
		.silky_parts_area id="silky"
			.s_p_title_area
				img src="../images/silky_skin/s_h2_one.png" alt="脱毛パーツ"
			.s_p_image_area
				img src="../images/silky_skin/parts.png" alt="脱毛パーツの表"
		.silky_price_area 
			table 
				tr.price_title
					td 
					td id="s_once"
						| 都度払い
						span プラン
					td id="s_year"
						| 1年6回
						span プラン
					td
						| 2年12回
						span プラン
				tr
					td
						| Sパーツ
					td
						| 3,100円
					td
						| 15,300円
					td
						| 28,800円
				tr
					td
						| Lパーツ
					td
						| 4,000円
					td
						| 20,400円
					td
						| 38,400円
				tr
					td
						| LLパーツ
					td
						| 8,000円
					td
						| 25,500円
					td
						| 48,000円
			p
				| ※料金は変更になる場合がございます。詳しくはお問い合わせください。
		.s_a_p_title_area id="s_all"
			h1
				| <img src="../images/silky_skin/s_h2_two.png" alt="まとめておトク！全身脱毛プラン">
		.silky_price_area 
			table
				tr.price_title
					td 
					td
						| 19ヵ所
						br
						| スタンダード
						span プラン
					td
						|	21ヵ所
						br
						| 大人気
						span プラン
					td
						| 26ヵ所
						br
						| 贅沢フル
						span プラン
				tr
					td
						| 1年6回
					td
						| 62,000円
					td
						| 79,000円
					td
						| 116,400円
				tr
					td
						| 2年12回
					td
						| 115,000円
					td
						| 141,000円
					td
						| 210,800円
		.s_a_p_image_area
			a href="http://www.blancneige-salon.com/campaign/index.html"
				img src="../images/campaign/campaign_bn.png" alt="キャンペーンはこちら"
		footer
			.footer_bg
				.footer_content_area
					.footer_content_one
						.f_about_area
							h2
								img src="../images/index/f_about.png" alt="About"
								ul
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_reason">リーズナブルな理由</a>
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_silky">シルキースキン脱毛</a>
									li
										| <a href="http://www.blancneige-salon.com/about/index.html?id=a_step">脱毛の流れ</a>
						.f_silky_area
							h2
								img src="../images/index/f_silky.png" alt="Silky-skin"
								ul
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_once">都度払いプラン</a>
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_year">1年6回・2年12回プラン</a>
									li
										| <a href="http://www.blancneige-salon.com/silky_skin/index.html?id=s_all">全身脱毛プラン</a>
					.footer_content_two
						.f_esthetic_area
							h2
								img src="../images/index/f_esthetic.png" alt="Esthetic"
								ul
									li
										| <a href="http://www.blancneige-salon.com/esthetic/index.html?id=facial">フェイシャルエステメニュー</a>
									li
										| <a href="http://www.blancneige-salon.com/esthetic/index.html?id=eyerash">まつげエクステメニュー</a>
						.f_faqs_area
							h2
								img src="../images/index/f_q_a.png" alt="QandA"
								ul
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_silky">脱毛について</a>
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_esthetic">エステ・まつげエクステについて</a>
									li
										| <a href="http://www.blancneige-salon.com/faqs/index.html?id=f_price">料金について</a>
					.footer_content_three
						.f_shops_area
							h2
								img src="../images/index/f_shops.png" alt="shops"
								ul
									li
										| <a href="http://www.blancneige-salon.com/shops/nanba/index.html?id=nanba">なんば本店</a>
									li
										| <a href="http://www.blancneige-salon.com/shops/shibuya/index.html?id=shibuya">渋谷店</a>
									li
										| <a href="https://www.facebook.com/pages/%E3%83%96%E3%83%A9%E3%83%B3%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A5/349759408419234">公式Facebook</a>
									li
										| <a href="http://www.blancneige-salon.com/blog/">スタッフブログ</a>
				.f_menu
					#back-top
						a href="#top"
							span
								| <img src="../images/page_top_ribbon.png" alt="ページトップへ戻る">
					ul
						li
							| <a href="http://www.blancneige-salon.com/sitemap">サイトマップ</a>
						li
							| <a href="http://www.blancneige-salon.com/privacy">プライバシーポリシー</a>
						li
							| <a href="http://www.blancneige-salon.com/company">会社概要</a>	
				.f_copyright_area
					img src="../images/index/copyright.png" alt="コピーライト"
