doctype html
html lang="ja"
	head
		meta charset="utf-8"
		title 難波・渋谷の脱毛サロン | blanc neige　～ブランネージュ～
		meta name="Description" content="難波・渋谷の脱毛サロン blanc neige ブランネージュのHPです。脱毛メニューのキャンペーン情報やお店の情報を公開しています。"
		meta name="Keywords" content="大阪 脱毛, 大阪 エステ, 難波 脱毛, 心斎橋 脱毛, 渋谷 脱毛, 東京 脱毛, 難波 エステ, 心斎橋 エステ, 渋谷 エステ, 東京 エステ, 脱毛サロン, エステ,ブランネージュ"
		meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
		link rel="stylesheet" media="all" type="text/css" href="../css/sp_stylesheet.css"
		link rel="stylesheet" media="all" type="text/css" href="../css/sp_common.css"
		link rel="canonical" href="http://www.blancneige-salon.com/"
		script type="text/javascript" src="http://www.google.com/jsapi"
		script type="text/javascript" href="../js/"
		script type="text/javascript" src="../js/jquery-2.1.1.min.js"
		script type="text/javascript" src="../js/slick.min.js"
		script type="text/javascript" src="../js/about.js"
		script type="text/javascript" src="../js/nav.js"
		script type="text/javascript" src="../js/scroll.js"
		script type="text/javascript" src="../js/page_scroll.js"
	body
		.wrapper
			header
				.h_logo_area
					a href="http://www.blancneige-salon.com/sp/"
						img src="../images/sp/index/header_logo.png" alt="なんば・渋谷の美容脱毛ならブランネージュ"
				.h_contact_area
					.h_tel_area
						a href="tel:06-6212-9930"
							img src="../images/sp/index/tel_nanba.png" alt="06-6212-9930"
						a href="tel:03-6434-1336"
							img src="../images/sp/index/tel_shibuya.png" alt="03-6434-1336"
					.h_form_area
						a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
							img src="../images/sp/index/header_form.png" alt="ご予約メール"
						.div class="navBtn"
							<button class="navIcon"><span class="iconLayer"></span>
							</button>
						</div>
						<div class="menu menuOff">
							<ul>
								<li>
									<a href="http://www.blancneige-salon.com/sp/silky_skin">脱毛</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/esthetic">エステ</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/faqs">よくあるご質問</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/shops">店舗情報</a>
								</li>
							</ul>
						</div>
			section.main
				.main_image_area
			section.campaign
				a href="http://www.blancneige-salon.com/sp/campaign"
					img src="../images/sp/index/campaign.png" alt="キャンペーンはこちら"
				.form_button
					a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
			section.news
				img src="../images/sp/index/news.png" alt="news"
				ul
					li
						| <a href="http://www.blancneige-salon.com/blog/%E6%9C%AA%E5%88%86%E9%A1%9E/85/">男性が気になるムダ毛。一体どこがそんなに気になるの？</a>
					li
						| <a href="http://www.blancneige-salon.com/blog/datumou/75/" >脱毛って何回すればキレイになるの？</a>
					li
						| <a href="http://www.blancneige-salon.com/blog/datumou/72/">10周年記念キャンペーン♪</a>
			section.about
					dl.accordion
						dt
							| <p><span><img src="../images/sp/index/about_reason.png" alt="リーズナブルな理由"></span></p>
						dd
							| ブランネージュでは大手サロンとは違い、広告費や雑費を抑えて、その分通いやすいリーズッナブルな価格を実現しております！
							| これからも女性に愛されるお店を目指します。
						dt
							| <p><span><img src="../images/sp/index/about_silky.png" alt="シルキースキン脱毛とは"></span></p>
						dd
							| ”シルキーライト”というお肌に優しい最新脱毛器を導入。保湿成分たっぷりのムースを湿布してから施術し、肌への負担を最小限に抑えています。より効果的な仕上がりを実現できるIPL脱毛という方法で施術しております。施術後の保湿サービスもバッチリです。
						dt
							| <p><span><img src="../images/sp/index/about_step.png" alt="脱毛の流れ"></span></p>
						dd
							| <h4>1.カウンセリング</h4>
							br
							| 施術を行なう前にお客様のご質問や不安・疑問点にお応えし、安心できる脱毛をご提供いたします。
							br
							| <h4>2.肌質チェック</h4>
							br
							| 施術スタッフがお客様の肌質や状態をチェックし、お客様のお肌に最適な技術をご提供いたします。
							br
							| <h4>3.施術</h4>
							br
							| 国産・最新型の冷たいジェルを使わないマシンを使用して脱毛！施術後はしっかりクールダウン。乾燥を防ぐ美肌シートを湿布して、理想的な美肌に☆
							br
							| <h4>4.アフターティーサービス</h4>
							br
							| お客様ひとりひとりにゆっくりとくつろいでいただく為に、アフターティーをご提供しております。大手サロンとは違った、リラックスした時間をお過ごしいただけます。
			section.silky
				h2
					| 脱毛プラン・料金
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/silky_skin?id=s_once">都度払いプラン
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="都度払いプラン"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/silky_skin?id=s_year">1年6回・2年12回プラン
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="1年6回・2年12回プラン"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/silky_skin?id=s_all">全身脱毛プラン
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="都度払いプラン"></a>
			section.esthetic
				h2
					| エステメニュー・料金
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/esthetic?id=facial">フェイシャルエステ
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="フェイシャルエステ"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/esthetic?id=eyelash">まつげエクステ
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="まつげエクステ"></a>
					
			section.voice
				h2
					| お客様の声
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/voice?id=voice_content">リピーター様</a>
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="リピーター様"></a>
			section.faqs
				h2
					| よくあるご質問
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/faqs?id=faqs_silky">脱毛について
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="脱毛について"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/faqs?id=faqs_esthetic">エステについて
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="エステについて"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/faqs?id=faqs_price">料金について
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="料金について"></a>
			section.shops
				h2
					| 店舗情報
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/shops/nanba/?id=nanba">なんば本店
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="なんば本店"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/shops/nanba/?id=shibuya">渋谷店
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="渋谷店"></a>
				.fb_area
					a href="https://www.facebook.com/pages/%E3%83%96%E3%83%A9%E3%83%B3%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A5/349759408419234"
						img.facebook src="../images/sp/index/facebook.png" alt="公式Facebookはこちら"
			section.support
				h2
					| サポート
				ul
					li
						| <a href="http://www.blancneige-salon.com/sp/privacy">プライバシーポリシー
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="プライバシーポリシー"></a>
					li
						| <a href="http://www.blancneige-salon.com/sp/company">会社概要
						span
							| <img src="../images/sp/index/arrow.png" height="49" width="49" alt="会社概要"></a>
			footer
				#back-top
					a href="#top"
						span
							| <img class="page_top_ribbon" src="../images/page_top_ribbon.png" alt="ページトップへ戻る">
				.copyright
					img.copyright_image src="../images/sp/index/copyright.png" alt="コピーライト"