/*　　　　　　　　　　　　　　　　main*/
.main_image_area {
	width: 100%;
	height: 206px;
	background: url(../images/sp/index/main.png)no-repeat;
	background-size: contain;
}
section.main {
	  margin-top: 60px;
}
/*　　　　　　　　　　　　　　　　campaign*/
.campaign_image_area {
	width: 100%;
	height: 206px;
	background: url(../images/sp/index/campaign.png)no-repeat;
	background-size: contain;
	height: 110px;
}

/*　　　　　　　　　　　　　　form*/
.form_button a {
	display: block;
	width: 320px;
	border-bottom: solid 10px #fa6b86;
	border-radius: 10px;
	height: 60px;
	background: url(../images/sp/index/form.png) #f99eae no-repeat;
	margin: 0 auto;
  background-position: 50% 50%;
}

/*　　　　　　　　　　　　　　　　　　　　　　news*/
.news {
	margin-top: 20px;
	padding: 4% 12%;
	height: 150px;
	width: 100%;
	background-color: #fffcfd;
}

.about {
	text-align: center;
	margin-top: 20px;
	display: none;
	img {
		width:90%;
		margin-bottom: 10px;
	}
}
/*　　　　　　　　　　　　　　　　　　　　　　　about*/
#pulldown_menu div {
  position: relative;
}

#pulldown_menu div span {
  cursor: pointer;
}

#pulldown_menu div ul {
  position: absolute;
  background: #fff;
  z-index: 9999;
  padding: 7%;
  margin-top: -20px;
  width: 76%;
  margin-left: 5%;
  text-align: left;
  color: #796660;
  li{
  	list-style: none;
  	margin-left: -10px;
  }
}
/*　　　　　　　　　　　　　　　　　　　content*/
section.silky,
section.esthetic,
section.faqs,
section.shops,
section.support {
	h2 {
		background-color: #ecdefa;
		width: 100%;
		font-size: 18px;
		color: #fff;
		padding: 20px;
	}
	li {
		background-color: #fff;
		color: #796660;
		font-size: 18px;
		padding: 20px;
		border-bottom: solid 1px #fafafa;
	}
}
section.silky,
section.esthetic,
section.faqs,
section.shops,
section.support {
	li:last-child {
	border: none;
	}
}
section.silky,
section.esthetic,
section.faqs,
section.shops,
section.support {
	img {
		width: 30px;
  	height: 30px;
  	vertical-align: middle;
  float: right;
  margin-right: 10%;
	}
}