doctype html
html lang="ja"
	head
		meta charset="utf-8"
		title 難波・渋谷の脱毛サロン | blanc neige　～ブランネージュ～
		meta name="Description" content="難波・渋谷の脱毛サロン blanc neige ブランネージュのHPです。脱毛メニューのキャンペーン情報やお店の情報を公開しています。"
		meta name="Keywords" content="大阪 脱毛, 大阪 エステ, 難波 脱毛, 心斎橋 脱毛, 渋谷 脱毛, 東京 脱毛, 難波 エステ, 心斎橋 エステ, 渋谷 エステ, 東京 エステ, 脱毛サロン, エステ,ブランネージュ"
		meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
		link rel="stylesheet" media="all" type="text/css" href="../../../css/sp_shibuya.css"
		link rel="stylesheet" media="all" type="text/css" href="../../../css/sp_common.css"
		link rel="canonical" href="http://www.blancneige-salon.com/silky_skin/"
		script type="text/javascript" src="http://www.google.com/jsapi"
		script type="text/javascript" href="../../../js/"
		script type="text/javascript" src="../../../js/jquery-2.1.1.min.js"
		script type="text/javascript" src="../../../js/slick.min.js"
		
		script type="text/javascript" src="../../../js/nav.js"
		script type="text/javascript" src="../../../js/scroll.js"
		script type="text/javascript" src="../../../js/page_scroll.js"
	body
		.wrapper
			header
				.h_logo_area
					img src="../../../images/sp/index/header_logo.png" alt="なんば・渋谷の美容脱毛ならブランネージュ"
				.h_contact_area
					.h_tel_area
						a href="tel:06-6212-9930"
							img src="../../../images/sp/index/tel_nanba.png" alt="06-6212-9930"
						a href="tel:03-6434-1336"
							img src="../../../images/sp/index/tel_shibuya.png" alt="03-6434-1336"
					.h_form_area
						a href="https://www.itsuaki.com/yoyaku/webreserve/storesel?client=blancneige-salon"
							img src="../../../images/sp/index/header_form.png" alt="ご予約メール"
						.div class="navBtn"
							<button class="navIcon"><span class="iconLayer"></span>
							</button>
						</div>
						<div class="menu menuOff">
							<ul>
								<li>
									<a href="http://www.blancneige-salon.com/sp/about">脱毛について</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/silky_skin">脱毛</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/esthetic">エステ</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/faqs">よくある質問</a>
								</li>
								<li>
									<a href="http://www.blancneige-salon.com/sp/shops">店舗情報</a>
								</li>
							</ul>
						</div>
				section.shops
					h1 id="shibuya"
						| <img src="../../../images/sp/shops/title_shibuya.png" alt="渋谷店">
				.shop_shibuya_area 
					.shop_title_area
						img src="../../../images/sp/shops/main_shibuya.png" alt="渋谷店"
						table.shibuya_info
							tr
								td 所在地
								td 〒150-0002　東京都渋谷区渋谷2丁目19-19　伊藤ビル6F
							tr
								td TEL
								td 03-6434-1336
							tr
								td 営業時間
								td 平日 11：00～21：00（受付　20:30まで)<br>土日祝 11：00～20：00（受付　19：30まで
							tr
								td 定休日
								td 水曜日
								
					iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.701950272381!2d139.70448004999997!3d35.65971424999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b58f1ced555%3A0x9ce4e2deafdbcc47!2z44CSMTUwLTAwMDIg5p2x5Lqs6YO95riL6LC35Yy65riL6LC377yS5LiB55uu77yR77yZIOWuruebiuWdguS8iuiXpOODk-ODqw!5e0!3m2!1sja!2sjp!4v1426223683167" frameborder="0" style="border:0" width="320" height="250"
					
			footer
				#back-top
					a href="#top"
						span
							| <img class="page_top_ribbon" src="../../../images/page_top_ribbon.png" alt="ページトップへ戻る">
				.copyright
					img.copyright_image src="../../../images/sp/index/copyright.png" alt="コピーライト"